.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 64px;
  background: #0d1117;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
  text-decoration: none;
  color: #222;
  font-size: 20px;
  font-weight: 700;
}

.navbar-nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  gap: 32px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  font-family: "Fira Sans";
  padding: 8px 0px;
  transition: color 0.2s;
  position: relative;
  background: none;
}
/*
.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 4px;
  height: 3px;
  background: #8A5EFF;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: opacity 0.2s, transform 0.2s;
}

.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1.25);
}*/

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 40px;
}

.sign-in button {
  background: #222;
  color: #fff;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, transform 0.15s, box-shadow 0.15s;
}

.sign-in button:hover {
  background: #000;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
}

.cart button {
  background: #222;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, transform 0.15s, box-shadow 0.15s;
}

.cart button:hover {
  background: #000;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
}

.sign-out-button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sign-out-button:hover {
  background-color: #d32f2f;
}
